/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! Tabby v9.0.0 | (c) 2015 Chris Ferdinandi | MIT License | http://github.com/cferdinandi/tabby */
/*!
 * Tabby v9.0.0: Simple, mobile-first toggle tabs.
 * (c) 2015 Chris Ferdinandi
 * MIT License
 * http://github.com/cferdinandi/tabby
 */.tabs{display:none;visibility:hidden}.js-tabby .tabs{visibility:visible}.tabs a,.tabs button{cursor:pointer}.js-tabby .tabs-pane{display:none;visibility:hidden}.tabs-pane.active{display:block;visibility:visible}.tabs:after,.tabs:before{display:table;content:""}.tabs:after{clear:both}



/* UNIMENU */

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #555;
}

a {
  text-decoration: none;
  color: #444;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

a:active {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transition: all .15s ease-in-out;
}

a:hover {
  text-decoration: none;
}

a.link {
  padding: 5px 10px;
  border: 3px solid #ddd;
  margin: 5px;
  display: inline-block;
  border-radius: 4px;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

h4 {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.5;
  margin: 10px 0 0;
}

/* TABS */

.tabs-content {
  padding: 0 15px;
}

ul.tabs {
  display: table;
  width: 100%;
  margin-top: 2px;
}

ul.tabs li {
  display: table-cell;
}

ul.tabs li a {
  background-color: #eee;
  width: 94%;
  padding: 10px;
  margin: 5px 3%;
  box-sizing: border-box;
  display: block;
  font-weight: bold;
  font-size: 90%;
  color: #9B9B9B;
  text-align: center;
}

ul.tabs li a.active {
  color: #444;
}

ul.tabs.dark-tabs li a {
  background-color: #555;
  color: #bbb;
}

ul.tabs.dark-tabs li a.active {
  color: #ddd;
}


.cb {
  width: 100%;
  clear: both;
  height: 1px;
}

nav {
  color: #fff;
  width: 100%;
  background-color: rgb(0,190,210);
}

h1 {
  padding: 28px 20px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
}

.site-title {
  float: left;
}

h1 span {
  font-weight: 400;
}

h2 {
  font-size: 20px;
  display: block;
  margin: 0 0 10px;
  border-bottom: 3px solid #eee;
  padding: 0 0 7px;
}

ul#area {
  padding: 20px;
  float: right;
  list-style:none;
}
ul#area li {
  list-style: none;
  display: inline-block;
}
ul#area li a {
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 5px;
  border: 2px solid #fff;
  display: inline-block;
}
ul#area li a:hover {
  border: 2px solid rgb(0,190,210);
}

.container {
  padding: 0;
  margin: 0 auto 10px;
}

.today-button {
  border: 2px solid rgb(0,190,210);
  padding: 5px;
  display: none;
}

#list {
  background-color: #f8f8f8;
}

#list .container {
  padding: 10px;
}

#nav .city h2 {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 5px solid #eee;
  padding: 10px 0 3px;
  margin: 12px 5px -5px;
  font-size: 15px;
}

#nav .city h3 {
  text-transform: capitalize;
  font-weight: bold;
  border-top: 3px solid #eee;
  padding: 12px 0 6px;
  margin: 5px;
  cursor: pointer;
}



.button,
#nav a {
  background-color: #fff;
  border: 2px solid rgb(0,190,210);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
}


.button:hover,
#nav a:hover {
  border-color: rgb(0,190,210);
  display: inline-block;
}

#nav a {
  margin: 4px;
}

.restaurant-list {
  display: none;
}

#menu .restaurant {
    padding: 20px 20px 10px;
    width: 210px;
    vertical-align: top;
    display: inline-block;
}

.toggle-button {
  font-size: 32px;
  display: none;
  float: right;
}

.visible {
  display: block !important;
}

#menu li {
  line-height: 1.4;
  min-width: 200px;
}

#menu li.food {
  margin: 0;
  padding: 3px 0;
}


div.color {
  border: 3px solid #ccc;
  margin: 0 5px 0 0;
  height: 6px;
  width: 6px;
  display: inline-block;
  border-radius: 6px;
}

div.Bistro {
  border-color: #444;
}

div.Maukkaasti {
  border-color: rgb(195, 0, 52);
  background-color: rgb(195, 0, 52);
}

div.Edullisesti {
  border-color: #0082cc;
}

div.Kevyesti {
  border-color: #0acc00;
}

div.Makeasti {
  border-color: #ff9898;
}

.colors {
  line-height: 22px;
}
.colors .color {
  margin: 0 0px 0 5px;
}
.colors .category {
  float: left; margin: 0 10px 0 0;
}

#menu li .nutrition,
#menu li .ingredients {
  font-size: 10px;
  line-height: 12px;
  margin-left: 15px;
  display: none;
}

ul.older {
  display: none;
}

ul.day li:last-child {
  padding-bottom: 10px;
  border-bottom: 2px solid #ff;
}

li.date {
  font-weight: bold;
  padding-top: 10px;
}

li.title {
  font-weight: bold;
  padding: 2px 0 5px;
  font-size: 20px;
  line-height: 28px;
  border-bottom: 2px solid #eee;
  cursor: pointer;
}

.not-today {
  display: none;
}

#wrap {
  min-height: 100%;
  overflow: auto;
}

.browser-wrap {
  padding-bottom: 100px;
  box-sizing: border-box;
}

#settings-button {
  background-color: transparent;
  margin-top: 2px;
  display: block;
}
#settings-button:hover {
  color: #fff;
}

#settings .menu-url {
  color: #eee;
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  margin: 9px 9px 0 0;
  border-radius: 5px;
  border: 3px solid rgb(94, 94, 94);
}
#settings .menu-url.saved {
  border-color: rgb(132, 255, 0);
}



#settings, #list {
  margin: 0 -15px;
}

#settings {
  min-height: 250px;
  background-color: #333;
  color: #eee;
  padding: 15px;
}

#settings p {
  padding-top: 10px;
  font-size: 12px;
  color: #878787;
}

#settings .area {
  clear: both;
}


#info p i {
  white-space: nowrap;
}

table td.abb {
  padding-right: 15px;
  font-weight: bold;
  min-width: 55px;
  text-align: right;
}

#settings .city h2 {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 5px solid #484848;
  padding: 10px 0 3px;
  margin: 10px 5px -5px;
  font-size: 15px;
}

#settings .city h3 {
  text-transform: capitalize;
  font-weight: normal;
  border-top: 3px solid #484848;
  padding: 12px 0 6px;
  margin: 5px;
  color: #DCDCDC;
  cursor: pointer;
}

#cities-menu a.menu-url {
  border-radius: 0;
  font-size: 14px;
  text-transform: capitalize;
  padding: 6px 13px;
}



footer {
  padding: 20px 30px 0;
  margin-top: -100px;
  min-height: 80px;
  text-align: center;
  color: #ccc;
  background-color: #444;
  font-size: 11px;
}

footer a {
  color: #fff;
}
footer p {
  display: inline-block;
  padding: 0 10px;
}



/*--PHONE--*/
@media (max-width: 767px) {
  #menu .restaurant {
    float: none;
    padding: 5px 0 10px;
    width: 100%;
    max-width: 100%;
  }
  nav h1 {
    padding: 10px 20px 13px;
  }
  ul#area {
    padding: 0 20px 20px;
  }
  ul#area li a {
    padding: 8px 11px;
    margin: 5px 5px;
  }
  .button {
    padding: 8px;
    margin: 3px;
    font-size: 12px;
  }
  .colors {
    margin-top: 5px;
    float: none;
    text-align: left;
  }
  .toggle-button {
    display: block;
  }
}



@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(fonts/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(fonts/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'), url(fonts/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
